<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="../images/logo.png" alt="">
            </a>
            <div class="header__menu-wrapper">
            <div class="header__menu">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Меню</a></li>
                    <li><a href="#">Забронировать</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Магазин</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <a href="#" class="header__search-btn icon-search"></a>
            <a href="#" class="header__basket-btn icon-shopping-cart"> 2</a>
        </div>
        </div>
    </div>
</header>